@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
  animation: FadeIn 400ms ease-in;
}

h2{
  padding: 20px;
}

h3{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pokemon-stats{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

@keyframes FadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;};
}